@page
@model POS.Areas.Admin.Page.Activep.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Activity.Date" class="control-label"></label>
                <input asp-for="Activity.Date" class="form-control" />
                <span asp-validation-for="Activity.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.TransactionType" class="control-label"></label>
                <input asp-for="Activity.TransactionType" class="form-control" />
                <span asp-validation-for="Activity.TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Amount" class="control-label"></label>
                <input asp-for="Activity.Amount" class="form-control" />
                <span asp-validation-for="Activity.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.moniepointCharge" class="control-label"></label>
                <input asp-for="Activity.moniepointCharge" class="form-control" />
                <span asp-validation-for="Activity.moniepointCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.CityCharge" class="control-label"></label>
                <input asp-for="Activity.CityCharge" class="form-control" />
                <span asp-validation-for="Activity.CityCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.TaskId" class="control-label"></label>
                <select asp-for="Activity.TaskId" class ="form-control" asp-items="ViewBag.TaskId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
